In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib.style as style
style.use('fivethirtyeight')

import seaborn as sns

%matplotlib inline

In [2]:
from ESPN_FFL_API import response_json, scoreboard_df, teams_df, transactions_df

leagueID: ········
swid, include '{ }', ex. {DCIAD841-5201-444F-AAD8-414201A44F9A}: ········
espn_s2 (quite long..): ········
Would you like 2018 - 2021 data? (y/n): n
What year would you like? :2021
Done!
-----------------------
Dataframes include: scoreboard_df, teams_df, transactions_df, points_by_stats_df
You will need to manually import points_by_stats DataFrame by running: 'from ESPN_FFL_API import points_by_stats_df'

In [3]:
from ESPN_FFL_API import points_by_stats_df

In [4]:
scoreboard_df.head(1)

,week_num,winning_team,winning_team_points,losing_team,losing_team_points
1,1,Spain without The S,152,I ❤️ Kickers and Defenses,105

In [5]:
teams_df.drop('team_manager',inplace=True,axis=1)
teams_df.head(1)

,team_name,draft_day_proj_rank,current_proj_rank,change_in_proj_rank,ranking,points_for,points_against,games_back,losses,wins,streak_length,streak_type,waiver_rank
6,Regretful Friend Choices,6,3,3,1,553,481,0,0,4,4,WIN,14

In [6]:
transactions_df.drop('team_manager',inplace=True,axis=1)
transactions_df.head(1)

,team_name,acquisitionBudgetSpent,budget_remaining,acquisitions,drops,misc,moveToActive,trades
1,Superb Owls,59,41,11,11,0,15,1

In [7]:
points_by_stats_df.drop('team_manager',inplace=True,axis=1)
points_by_stats_df.head(1)

,team_name,Passing-Yds,Passing-TD,Passing-400+ Yds,Passing-2pt conversion**,Passing-INT,Rushing-Yds,Rushing-TD,Rushing-2ptConversion,Rushing-40+yardTD,...,D/ST-Less Than 100 Yds Allowed,D/ST-100_199 Yds Allowed,D/ST-200_299 Yds Allowed,D/ST-350_399 Yds Allowed,D/ST-400_449 Yds Allowed,D/ST-450_499 Yds Allowed,D/ST-500_549 Yds Allowed,136,K-FG 50+ yds,K-FG 60+ yds
1,Superb Owls,1044,9,0,0,0,496,7,0,0,...,0,0,1,1,0,2,0,0,0,0